$black: #000;
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #cda666;
$secondary: #343d60;
$success: #28a745;
$info: #a4a4a4;
$warning: #fcc325;
$danger: #ff0d00;
$dark-blue: #202744;
$red-bg: #b3312a;

$font-family-sans-serif: "OxyVietnam", "Roboto", sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
