@import "https://fonts.googleapis.com/css?family=Roboto:300,400,400,500,600,700&amp;subset=latin-ext,vietnamese";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OxyVietnam", "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "OxyVietnam", "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.375;
  text-align: left;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

.hidden {
  display: none;
}

body.body-dark-theme {
  background-color: #202744;
  color: #fff;
}
body.body-dark-theme .block-heading {
  border-color: #fff;
}

.container {
  max-width: 1054px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1.32rem;
  line-height: 1.375;
  border-radius: 6px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-secondary {
  background-color: #343d60;
  border-color: #343d60;
}
.btn-secondary:hover {
  background-color: #343d60;
  border-color: #22283f;
}

.btn-primary {
  background-color: #cda666;
  border-color: #cda666;
}

.btn-light {
  background-color: #fff;
  border-color: #fff;
  color: #cda666;
}
.btn-light:hover {
  color: #ae8139;
  background-color: #ececec;
  border-color: #e6e5e5;
}

.bg-secondary {
  background-color: #343d60;
}

.bg-primary {
  background-color: #cda666;
}

.mr-md-3,
.mx-md-3 {
  margin-right: 16px;
}

.hero-title {
  margin-bottom: 30px;
  line-height: 50/36;
  font-weight: 200;
}

.block-heading {
  padding: 18px 0;
  border: #000 solid 1px;
  border-width: 1px 0;
  margin-bottom: 30px;
}
.block-heading .the-title {
  text-transform: uppercase;
}

h1.the-title {
  font-size: 2.8rem;
  font-weight: 300;
}

h2.the-title {
  font-size: 2.6rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.read-more {
  display: flex;
  align-items: center;
  margin: 16px 0;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  gap: 4px;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0;
}
.card .card-title {
  margin-bottom: 12px;
}

.card-img-overlay {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.44);
  justify-content: center;
}

.card-media {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.card-media img {
  width: 100%;
  transition: all 0.3s linear 0s;
}
.card-media:hover .card-img,
.card-media:hover .card-img-top {
  transform: scale(1.1);
}
.card-media:hover .icon-video {
  color: #fff;
}
.card-media .icon-video {
  font-size: 7.2rem;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s linear 0s;
}

.category-list {
  display: flex;
  align-items: center;
}
.category-list li {
  padding: 8px 22px;
}
.category-list li a {
  font-size: 2rem;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}
.category-list li a:hover {
  color: #cda666;
}
.category-list li:nth-child(2) {
  border: #fff solid 1px;
  border-width: 0 1px;
}

.text-center {
  text-align: center !important;
}

.border-primary {
  border: #cda666 solid 1px;
}

.h3 {
  font-size: 1.8rem;
  line-height: 1.18;
  font-weight: 600;
}

.text-primary {
  color: #cda666 !important;
}

.messenger-btn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
}
.messenger-btn > div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.vsc-video-list {
  display: flex;
  padding: 0 35px;
  gap: 12px;
  margin-top: 12px;
}
.vsc-video-list .card {
  flex: 1;
}
.vsc-video-list .card-video {
  width: 100%;
  height: 213px;
}
.vsc-video-list .card-img-top {
  min-width: 328px;
  min-height: 213px;
}
.vsc-video-list .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.14);
  display: grid;
  justify-content: center;
  align-items: center;
}
.vsc-video-list .card-title {
  margin-top: 15px;
  line-height: 2rem;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}
.vsc-video-list .card-title:hover {
  color: #cda666;
}

.vsc-top-nav {
  margin-bottom: 50px;
  background-color: #a4a4a4;
}
.vsc-top-nav .nav {
  display: flex;
  align-items: center;
}
.vsc-top-nav .nav-item {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vsc-top-nav .nav-link {
  height: 100%;
  width: 100%;
  padding: 15px 5px;
  font-size: 1.56rem;
  color: #fff;
  font-weight: bold;
  border-radius: 0;
  text-align: center;
}
.vsc-top-nav .current_page_item {
  background-color: #343d60;
  position: relative;
}
.vsc-top-nav .current_page_item::after {
  content: "";
  height: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: inherit;
  border-radius: 0 0px 14px 14px;
  z-index: 9;
}

.vsc-breadcrumb {
  margin-bottom: 40px;
}

.vsc-breadcrumb.vsc-breadcrumb-border {
  border-bottom: 1px solid #000;
}

.breadcrumb {
  display: flex;
  padding: 16px 0;
  gap: 10px;
}

.breadcrumb-item a {
  font-size: 1.6rem;
  font-weight: 300;
  color: #000;
}
.breadcrumb-item a:hover {
  text-decoration: underline;
}
.breadcrumb-item.active {
  color: #cda666;
  font-weight: 600;
  font-size: 1.6rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 8px;
  color: #6c757d;
  content: "/";
  font-weight: 300;
  font-size: 1.8rem;
}

.posts-list {
  margin-bottom: 50px;
}
.posts-list .posts-item {
  display: flex;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-top: 50px;
  background-color: #fff;
}
.posts-list .card-img {
  height: 267px;
  width: 410px;
}
.posts-list .card-body {
  padding: 25px 30px;
  margin-left: 10px;
}
.posts-list .card-title {
  margin-bottom: 16px;
}
.posts-list .card-title a {
  font-size: 2.2rem;
  color: #cda666;
}
.posts-list .card-date {
  font-size: 1.36rem;
  margin: 15px 0;
  font-style: italic;
}
.posts-list .card-text {
  margin: 15px 0 25px;
  font-size: 1.32rem;
}
.posts-list .read-more {
  color: #000;
  margin: 0;
}

.vsc-pagination {
  margin-top: 30px;
}
.vsc-pagination .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vsc-pagination .page-item {
  padding: 0 5px;
  margin-top: 5px;
}
.vsc-pagination .page-item:first-child, .vsc-pagination .page-item:last-child {
  background-color: #343d60;
  padding: 0;
}
.vsc-pagination .page-item:first-child ion-icon, .vsc-pagination .page-item:last-child ion-icon {
  color: #fff;
  font-size: 2.4rem;
}
.vsc-pagination .page-item:first-child:hover .page-link, .vsc-pagination .page-item:last-child:hover .page-link {
  background-color: #343d60;
}
.vsc-pagination .page-item a.page-link {
  color: #000;
}
.vsc-pagination .page-item a.page-link:hover {
  text-decoration: none;
}
.vsc-pagination .page-item.active a {
  background-color: #cda666;
  color: #fff;
}
.vsc-pagination .page-link {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #343d60;
  font-size: 1.2rem;
  color: #000000;
  font-weight: bold;
}
.vsc-pagination .page-link:hover {
  background-color: #e9ecef;
}

.intro-content h1.the-title {
  font-size: 3.6rem;
  margin-bottom: 16px;
}
.intro-content .the-title {
  color: #cda666;
  font-weight: 600;
}
.intro-content .container p a {
  color: #ff0d00;
}
.intro-content .container p a:hover {
  color: #b3312a;
}

.reason-block {
  background: linear-gradient(45deg, #820b04 0%, #c8332b 100%);
  padding: 72px;
  color: #fff;
}
.reason-block .container {
  display: flex;
}
.reason-block .reason-title {
  max-width: 33.33333333%;
  font-size: 32px;
  font-weight: 300;
}
.reason-block .reason-content {
  max-width: 66.66666666%;
}

.reason-slider {
  position: relative;
  z-index: 100;
  padding: 0 20px 92px;
}
.reason-slider .slick-list {
  height: 220px;
  padding-top: 20px;
}
.reason-slider .slick-list .slider-item {
  opacity: 0;
}
.reason-slider .slick-list .slider-item__inner p {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 18px;
}
.reason-slider .slick-list .slick-active .slider-item {
  opacity: 1;
  transition: all 1s ease-in-out;
}
.reason-slider .slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  bottom: auto;
}
.reason-slider .slick-dots li {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.reason-slider .slick-dots li .reason-dots-item::before {
  content: "";
  width: 0;
  transition: width 0.5s linear;
  display: block;
  position: absolute;
}
.reason-slider .slick-dots li::before, .reason-slider .slick-dots li::after {
  content: "";
  position: static;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  z-index: -2;
}
.reason-slider .slick-dots li:first-child::before, .reason-slider .slick-dots li:last-child::after {
  opacity: 0;
}
.reason-slider .slick-dots li:nth-child(1) .reason-dots-item::before {
  background: linear-gradient(to bottom, #fcc325 0%, #fb6909 100%);
}
.reason-slider .slick-dots li:nth-child(1) .reason-line::after,
.reason-slider .slick-dots li:nth-child(1) .reason-line::before {
  background-color: #fcc325;
}
.reason-slider .slick-dots li:nth-child(2) .reason-dots-item::before {
  background: linear-gradient(to bottom, #fc2525 0%, #af0000 100%);
}
.reason-slider .slick-dots li:nth-child(2) .reason-line::after,
.reason-slider .slick-dots li:nth-child(2) .reason-line::before {
  background-color: #fc2525;
}
.reason-slider .slick-dots li:nth-child(3) .reason-dots-item::before {
  background: linear-gradient(to bottom, #a0d4ed 0%, #3f8cb1 100%);
}
.reason-slider .slick-dots li:nth-child(3) .reason-line::after,
.reason-slider .slick-dots li:nth-child(3) .reason-line::before {
  background-color: #a0d4ed;
}
.reason-slider .slick-dots li:nth-child(4) .reason-dots-item::before {
  background: linear-gradient(to bottom, #6479cc 0%, #343d60 100%);
}
.reason-slider .slick-dots li:nth-child(4) .reason-line::after,
.reason-slider .slick-dots li:nth-child(4) .reason-line::before {
  background-color: #6479cc;
}
.reason-slider .slick-dots li:nth-child(5) .reason-dots-item::before {
  background: linear-gradient(to bottom, #f5b244 0%, #cda666 100%);
}
.reason-slider .slick-dots li:nth-child(5) .reason-line::after,
.reason-slider .slick-dots li:nth-child(5) .reason-line::before {
  background-color: #f5b244;
}
.reason-slider .slick-dots li:nth-child(6) .reason-dots-item::before {
  background: linear-gradient(to bottom, #fcc325 0%, #fb6909 100%);
}
.reason-slider .slick-dots li:nth-child(6) .reason-line::after,
.reason-slider .slick-dots li:nth-child(6) .reason-line::before {
  background-color: #fcc325;
}
.reason-slider .slick-dots .reason-dots-icon {
  display: block;
  width: 56px;
  height: 56px;
  transition: height 0.5s, width 0.5s;
}
.reason-slider .slick-dots .reason-line::after, .reason-slider .slick-dots .reason-line::before {
  content: "";
  top: 0;
  transition: height 0.5s, top 0.5s;
}
.reason-slider .slick-dots .reason-line::before {
  height: 0;
}
.reason-slider .slick-dots .slick-active .reason-dots-icon {
  width: 100px;
  height: 100px;
}
.reason-slider .slick-dots .slick-active .reason-dots-item::before {
  top: 50%;
  left: 50%;
  width: 90px;
  height: 90px;
  border-radius: 18px;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}
.reason-slider .slick-dots .slick-active .reason-line::before, .reason-slider .slick-dots .slick-active .reason-line::after {
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
}
.reason-slider .slick-dots .slick-active .reason-line::before {
  height: 196px;
  width: 3px;
}
.reason-slider .slick-dots .slick-active .reason-line::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.location-select {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-select label {
  min-width: 100px;
  flex: 0 0 104px;
  font-size: 2.4rem;
  font-weight: 700;
  margin-right: 60px;
}
.location-select .input-group {
  flex: 1;
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
}
.location-select .input-group * {
  font-size: 1.76rem;
}
.location-select .custom-select {
  height: 48px;
  flex: 1;
  padding: 8px 32px 8px 16px;
}
.location-select select:focus {
  box-shadow: rgba(205, 166, 102, 0.16) 0px 0px 0px 3px;
}
.location-select .btn {
  border-radius: 0;
  padding-left: 70px;
  padding-right: 70px;
  color: #fff;
  height: 100%;
  cursor: pointer;
}
.location-select .btn:hover {
  background-color: #cda666;
  background-color: #c49549;
  border-color: #c09040;
}

.banner-contents .block-dang-ky {
  padding: 75px 0 75px;
}
.banner-contents .the-title {
  color: #fff;
  margin-bottom: 40px;
}
.banner-contents .btn-register {
  background: url(https://vinschool.edu.vn/wp-content/themes/vsc/assets/img/btn-register.png) no-repeat;
  font-size: 0;
  padding: 64px 225px;
  background-size: contain;
  background-position: 10px 14px;
}

@-webkit-keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes SlideIn {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes SlideIn {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.top-bar {
  background-color: rgba(255, 13, 0, 0.75);
  height: auto;
  position: relative;
  z-index: 1005;
}

.top-bar-content {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  gap: 40px;
}

.top-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}
.top-meta ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-meta .nav-lang {
  gap: 10px;
  line-height: 1.2;
}
.top-meta .lang-item:first-child {
  padding-right: 10px;
  border-right: 1px solid #fff;
}
.top-meta .lang-item-link {
  font-size: 1.4rem;
}
.top-meta .lang-item.active a {
  font-weight: 600;
}
.top-meta .sosials {
  gap: 10px;
}
.top-meta .social-link ion-icon {
  font-size: 2rem;
}

.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.top-menu .menu-item {
  text-transform: uppercase;
  font-weight: 700;
  height: 100%;
  position: relative;
}
.top-menu .menu-item > a {
  padding: 20px 15px;
  height: 100%;
  display: inline-block;
}
.top-menu .menu-item:hover {
  background-color: #343d60;
}
.top-menu .menu-item:hover > .sub-menu {
  display: block;
}
.top-menu .menu-item-active {
  background-color: #343d60;
}
.top-menu .sub-menu {
  display: none;
  position: absolute;
  left: 0;
  background-color: #343d60;
  top: 100%;
  width: 280px;
  padding: 3px 15px;
  z-index: 1006;
}
.top-menu .sub-item {
  padding: 12px 0;
  border-bottom: 1px solid #fff;
}
.top-menu .sub-item:hover a {
  color: #ffc107;
}
.top-menu .sub-item:last-child {
  border-bottom: none;
}

.top-bar .btn-top {
  font-weight: 600;
  line-height: 18px;
  border-radius: 0 0 12px 12px;
  font-size: 1.2rem;
  letter-spacing: -0.2px;
  width: 150px;
  position: absolute;
  top: 0;
  bottom: -15px;
  padding-top: 0px;
  right: 128px;
}
.top-bar .btn-register-scrolled {
  border-radius: 0;
  bottom: 0;
}

.main-nav::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 217px;
  content: "";
  top: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.91) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1001;
}

.main-nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
.main-nav-content .logo,
.main-nav-content .search-box {
  z-index: 1004;
}

.logo {
  position: relative;
}
.logo img {
  vertical-align: middle;
  max-width: 114px;
}

.main-menu {
  margin-bottom: 24px;
}
.main-menu .menu-item {
  display: inline-block;
}
.main-menu .menu-item:hover .sub-menu-container {
  display: block;
}
.main-menu .menu-item:hover > a {
  border-color: #fcc325;
}
.main-menu .menu-item:hover::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(52, 61, 96, 0.82);
  left: 0;
  top: 0;
  z-index: 1002;
}
.main-menu .menu-item.menu-item-current > a {
  border-color: #fcc325;
}
.main-menu .menu-item > a {
  display: block;
  transition: all 0.4s linear 0s;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 30px;
  z-index: 1004;
}

.sub-menu-container {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 1003;
  left: 0;
  width: 100%;
  font-size: 0.875rem;
  background-color: rgba(52, 61, 96, 0.82);
}
.sub-menu-container .container {
  padding-left: 197px;
}
.sub-menu-container .title {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 8px;
  border-bottom: 1px solid #ffc107;
  color: #fff;
}
.sub-menu-container .sub-menu {
  display: flex;
  align-items: center;
  padding-left: 32px;
  position: relative;
}
.sub-menu-container .sub-menu ion-icon {
  font-size: 1.6em;
  position: absolute;
  left: 10px;
  top: 22px;
  color: #fff;
}
.sub-menu-container .sub-menu .sub-item {
  margin-right: 45px;
  padding: 20px 0;
}
.sub-menu-container .sub-menu .sub-item a {
  font-size: 1.36rem;
  transition: all 0.2s linear 0s;
  font-weight: 350;
}
.sub-menu-container .sub-menu .sub-item a:hover {
  color: #fcc325;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 24px;
  width: 193px;
  padding-left: 8px;
  padding-right: 16px;
  border-radius: 20px;
  height: 32px;
  background-color: #fff;
  overflow: hidden;
}
.search-box ion-icon {
  color: #6c757d;
  font-size: 1.4rem;
}
.search-box .nav-input {
  font-size: 1.4rem;
  height: 100%;
  outline: none;
  border: none;
  font-weight: 400;
  line-height: 1;
  max-width: 147px;
}
.search-box .nav-input::-moz-placeholder {
  font-style: italic;
  color: #ccc;
}
.search-box .nav-input:-ms-input-placeholder {
  font-style: italic;
  color: #ccc;
}
.search-box .nav-input::placeholder {
  font-style: italic;
  color: #ccc;
}
.search-box .reset-input-btn {
  position: absolute;
  right: 8px;
  cursor: pointer;
}

.main-nav.menu-scrolled {
  background-color: #fff;
  height: 38px;
  color: #000;
  z-index: 1005;
}
.main-nav.menu-scrolled::after {
  display: none;
}
.main-nav.menu-scrolled .main-nav-content {
  padding-bottom: 0;
  padding-top: 0;
  height: 38px;
}
.main-nav.menu-scrolled .logo img {
  display: none;
}
.main-nav.menu-scrolled .logo ion-icon {
  display: block;
  font-size: 2.4rem;
  color: #dc3545;
}
.main-nav.menu-scrolled .main-menu {
  margin-bottom: 0;
}
.main-nav.menu-scrolled .main-menu .menu-item {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.main-nav.menu-scrolled .main-menu .menu-item > a {
  font-size: 12px;
  font-weight: 300;
  color: #4a4a4a;
  border: none;
  border-radius: 0;
  font-weight: 400;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 2px solid transparent;
}
.main-nav.menu-scrolled .main-menu .menu-item > a:hover {
  font-weight: 700;
  border-color: #343d60;
}
.main-nav.menu-scrolled .main-menu .menu-item.menu-item-current > a {
  border-color: #343d60;
  font-weight: 700;
}
.main-nav.menu-scrolled .main-menu .menu-item .title {
  display: none;
}
.main-nav.menu-scrolled .main-menu .menu-item::after {
  display: none;
}
.main-nav.menu-scrolled .container {
  padding-left: 0;
}
.main-nav.menu-scrolled .menu-item:nth-child(1) .sub-menu-container {
  width: 924px;
}
.main-nav.menu-scrolled .menu-item:nth-child(2) .sub-menu-container {
  width: 746px;
}
.main-nav.menu-scrolled .menu-item:nth-child(4) .sub-menu-container {
  width: 553.4px;
}
.main-nav.menu-scrolled .sub-menu-container {
  left: 15px;
}
.main-nav.menu-scrolled .sub-menu {
  margin-bottom: 0;
  flex-wrap: wrap;
}
.main-nav.menu-scrolled .sub-menu .sub-item {
  width: 33%;
  margin: 0;
  border-bottom: 1px solid transparent;
}
.main-nav.menu-scrolled .sub-menu a {
  font-size: 1.44rem;
  font-weight: 400;
}
.main-nav.menu-scrolled .menu-item:nth-child(2) .sub-item:nth-child(1) {
  border-color: #fff;
}
.main-nav.menu-scrolled .menu-item:nth-child(2) .sub-item:nth-child(2) {
  border-color: #fff;
}
.main-nav.menu-scrolled .menu-item:nth-child(2) .sub-item:nth-child(3) {
  border-color: #fff;
}
.main-nav.menu-scrolled .menu-item:nth-child(2) .sub-item:nth-child(4) {
  border-color: #fff;
}
.main-nav.menu-scrolled .menu-item:nth-child(3) .sub-item:nth-child(1) {
  border-color: #fff;
}
.main-nav.menu-scrolled .menu-item:nth-child(3) .sub-item:nth-child(2) {
  border-color: #fff;
}
.main-nav.menu-scrolled .menu-item:nth-child(3) .sub-item:nth-child(3) {
  border-color: #fff;
}
.main-nav.menu-scrolled .menu-item:nth-child(3) .sub-item:nth-child(4) {
  border-color: #fff;
}
.main-nav.menu-scrolled .menu-item:nth-child(4) .sub-item:nth-child(1) {
  border-color: #fff;
}
.main-nav.menu-scrolled .menu-item:nth-child(4) .sub-item:nth-child(2) {
  border-color: #fff;
}
.main-nav.menu-scrolled .menu-item:nth-child(4) .sub-item:nth-child(3) {
  border-color: #fff;
}
.main-nav.menu-scrolled .menu-item:nth-child(4) .sub-item:nth-child(4) {
  border-color: #fff;
}
.main-nav.menu-scrolled .search-box {
  margin-bottom: 0;
  border: 1px solid #b9b9b9;
  height: 24px;
}

.banner .banner-item {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .container {
  margin-right: 232px;
}
.banner .banner-title {
  font-size: 7.2rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  width: 100%;
}

.banner.slick-slider {
  transition: opacity 0.1s ease;
}
.banner.slick-slider .banner-item {
  height: 768px;
}
.banner.slick-slider::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 33%;
  content: "";
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.footer-logos {
  background: #d2d2d2;
  margin: 48px 0 8px;
  height: 150px;
}
.footer-logos .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.footer-logos .footer-logos-item {
  padding: 0 30px;
  max-width: 27%;
  text-align: center;
}

.footer {
  background: url(https://vinschool.edu.vn/wp-content/themes/vsc/assets/img/bg/bg_footer.jpg) no-repeat;
  background-size: cover;
  padding: 30px 0;
  color: #fff;
  line-height: 1.8;
}
.footer .the-title {
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.footer .contact-list {
  display: flex;
  gap: 30px;
}
.footer .contact-item {
  max-width: 22%;
}
.footer .footer-title,
.footer p {
  font-size: 1.28rem;
}