h2.handbook-title {
  font-size: 2.6rem;
  color: #cda666;
  font-weight: bold;
  margin-bottom: 16px;
}

.handbook-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.handbook-list .handbook-name {
  font-size: 2.12rem;
  font-weight: 300;
  margin-bottom: 14px;
}
.handbook-list .handbook-link img {
  width: 100%;
}

.policy {
  max-width: 848px;
  margin: 0 auto;
}
.policy h2.the-title {
  margin-bottom: 32px;
  font-weight: 600;
}
.policy .policy-text {
  font-size: 1.52rem;
}