@charset "UTF-8";
.intro-content .container {
  font-weight: 300;
  color: #444;
  font-size: 1.56rem;
}
.intro-content .container h2 {
  font-size: 2.6rem;
  color: #cda666;
  margin-bottom: 16px;
}
.intro-content .container section {
  font-size: 14px;
}
.intro-content .container section ul {
  padding-left: 18px;
  margin-bottom: 16px;
}
.intro-content .container section li,
.intro-content .container section p {
  margin-bottom: 12px;
}
.intro-content .container section > ul {
  list-style-type: disc;
}
.intro-content .container section > ul li > ul {
  list-style-type: circle;
}
.intro-content .container section > ul li > ul li > ul {
  list-style-type: square;
}
.intro-content .container section a {
  color: #b3312a;
}
.intro-content .container section a:hover {
  text-decoration: underline;
}
.intro-content .container section .breadcrumb a {
  color: #000;
}
.intro-content .container section > h4 {
  margin-bottom: 16px;
}
.intro-content .container section > img {
  margin: 8px auto;
  display: block;
}
.intro-content .container section table tbody th,
.intro-content .container section table tbody td {
  border: 1px solid #bfbfbf;
}

.article {
  margin: 40px 0;
}
.article .article-content {
  transition: all 0.3s ease-in-out;
}
.article .card-header {
  background: transparent;
  padding: 0;
}
.article .card-header button {
  background: transparent;
  cursor: pointer;
  text-align: left;
  width: 100%;
  padding: 20px 50px 20px 0;
  position: relative;
  border-top: 1px solid #707070;
  border-bottom: none;
  border-left: none;
  border-right: none;
  font-size: 2rem;
  font-weight: bold;
}
.article #accordion {
  margin-top: 40px;
}
.article #accordion .card-body.lever1 > div {
  margin-bottom: 32px;
}
.article #accordion .card-body.lever1 button {
  color: #cda666;
  background: #f2f2f2;
  border: none;
  padding-left: 20px;
  font-size: 1.6rem;
  font-weight: 300;
}
.article #accordion .card-body.lever1 .card-body {
  background: #9e9e9e;
  color: #fff;
  margin-bottom: 30px;
}
.article #accordion .card-header button:before {
  content: "〱";
  color: #cda666;
  transform: rotate(-90deg);
  font-size: 1.875rem;
  position: absolute;
  top: 28px;
  right: 20px;
  width: 15px;
  height: 15px;
  transition: all 0.3s ease;
}
.article .content-answer {
  padding: 20px;
}
.article .collapse:not(.show) {
  display: none;
}